:root{
    --primary-color:black;
    --secondary-color: white;
    --primary-background: white;
    --secondary-background: #505D75;
    --teritary-background: #EE8055;
    --headers: 45, 48, 66;
    --line: #EEB955;
}

/* NAVIGATION */
.navbar{
    background-color: var(--secondary-background);
    height: 6vh;
    padding: 0;
}

.logo{
    
    height: 15vh ;
    display: inline-block;
    background-color: var(--primary-background);
    padding-top:40px;
}

.donateBtn{
    background-color: var(--teritary-background);
    border: none;
    margin-top: 1%;
    margin-right: 5px;
    color:var(--secondary-color);
    font-weight: 600;
    border-radius: 20px;
    height: 2em;
    padding: 0 20px;
    transition: 0.2s all;
    
}
.donateBtn :hover, .donateBtn:active{
    transform: scale(0.98);
    filter: brightness(0.95);

}

.nav1 a{
    display: block;
    padding: 0.2rem 1rem;
    height: 2em;
    margin-top: 1%;
    font-weight: 600;
    color: var(--secondary-color);
    text-decoration: none;
    transition: color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav1 a:hover, .nav1 a:active {
    background-color:rgba(var(--headers), 0.5) ;
   border-radius: 20px;

}



.navbar-dark .navbar-nav .nav-link{
    color: rgba(255, 255, 255, 1);
    font-size: 20px;
}


/* ---------------- SMALLER SCREENS ADJUSTMENT ---------------- */

@media  screen and (max-width:768px) {

    .logo{
        padding-top: 0;
        height: 6vh;
        
    }

    .navbar-toggler{
        border:0;
        margin-right: 1rem;
        padding: 0;
    }
    .show{
        background-color: var(--secondary-background);
    }
    .nav-link{
        margin-left: 1rem;
        color:var(--secondary-color)
    }
    .fas{
        font-size: 2.9rem;
        color: var(--secondary-color);
    }
    .nav-item a{
        color: var(--secondary-color);
    }
    .nav-item a:hover{
        color: var(--secondary-color);
    }
    
}
    
.titleMargin{
    margin-left: 5%;
}

.titleBg{
    background-color: #2D3042;
    padding-top: 3%;
    padding-bottom: 3%;
}

.titleText{
    color: white;
    font-size: 3vw;
}

.paragraphMargin{
    margin: 5% 0 5% 8%;
    font-size: 2vw;
}

.imgResponsive{
    max-width: 100%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;
}

.secondBg{
    background-color: var(--secondary-background);
    padding-top: 3%;
}

.historyParagraph{
    color: white;
    margin: 0 0 5% 5%;
    font-size: 2vw;
}

.bTitleText{
    color: black;
    font-size: 3vw;
    padding-top: 3%;
}


.docentParagraph{
    margin: 0 0 5% 5%;
    font-size: 2vw;
    padding-top: 3%;
}

.location{
    color: white;
    margin: 0 0 5% 10%;
    font-size: 2vw;
}

.locationMargin{
    margin: 0 5% 5% 0;
}
